<section>
    <h1 class="logo">
        <a href="/19_ecsite/index.html"
            ><img src="/19_ecsite/images/firstView_logotype.svg" alt="" /></a
        >
    </h1>
    <img src="/19_ecsite/images/fristView.JPG" alt="" class="firstVew" />
</section>
