---

---

<footer id="footer">
  <div id="footer-inner">
    <a href="#"
      ><img class="footerLogo" src="/19_ecsite/images/logotype.svg" alt="" /></a
    >
    <p class="copy maru">
      &copy; 2024 SasaraYamauchi by Trident School of Infrmation Technology
    </p>
  </div>
</footer>
